body {
  font-family: cursive;
    padding: 0;
    background:linear-gradient(green,yellow );
  }
  .subheader{
    color: rgb(0, 0, 0);
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
  }
  header {
    background:linear-gradient(green,yellow );
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    border-radius: 20%;
  }
  
  .logo img {
    width: 70px;
    height: 70px;
    border-radius: 41px;
    outline: none;
   align-self: flex-end;
  }
 /*  items style */
  .items {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Gill Sans", sans-serif;
    text-align: 1em;
  }
  
  .items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .items a:hover {
    color: red;
  }
  
  .active {
    color: red !important;
  }
  nav {
    display: flex;
  }  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 1em;
  }
  
 
  main {
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
  
  #latest-posts {
    width: 65%;
  }
  
  #latest-posts h2 {
    margin-bottom: 1em;
  }
  
  .post {
    margin-bottom: 1em;
    }
  
  .post img {
    max-width: 90%;
  }
  
  
  .post h3 {
    margin-top: 0.5em;
  }
  
  .post p {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.5em;
  }
  
  .read-more {
    text-decoration: none;
    color: #666;
    font-size: 0.8em;
  }
  
  #recent-comments {
    width: 30%;
  }
  
  #recent-comments h2 {
    margin-bottom: 1em;
  }
  
  .comment {
    margin-bottom: 1em;
  }
  
  .comment .text {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.5em;
  }
  
  .comment .author {
    font-size: 0.8em;
    color: #999;
  }
  
  .reply {
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
    margin-left: 1em;
    }
    
    .reply:hover {
    color: #666;
    }
    
    footer {
    background-color: #f2f2f2;
    padding: 1em;
    text-align: center;
    box-sizing: content-box;
    background:linear-gradient(rgb(18, 15, 223),rgb(146, 170, 247) );
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgb(235, 15, 15);
    border-radius:20rem;
    }
    
    /* Media Queries */
    
    @media (max-width: 768px) {
    main {
    flex-wrap: wrap;
    }
    
    #latest-posts, #recent-comments {
    width: 100%;
    margin-bottom: 1em;
    }
    
    nav {
    flex-wrap: wrap;
    }
    .logo {
   max-width: 100%;
    }
    
    nav li {
    margin-right: 0;
    margin-bottom: 0.5em;
    }
    }
    
    
    
    
