body {
    font-size: 16px;
    margin: 0;
    padding: 90px;
    background: linear-gradient(#64e664, #abe44f);
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  header {
    background: linear-gradient(#f5dd07, #cce4a5);
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
   
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav {
    background-color: #5C5C5C;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10% / 50%;
  }
  nav ul li a:hover{ 
    color: rgb(11, 201, 11);
    background-color: #1abda77c;
    opacity: 0.8;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    flex: 1;
    margin: 10px;
    list-style-type: none;
  }
  
  nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    background: linear-gradient(#f18927, #6dfa1c);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px 100px / 120px;

  }
  
  section h2 {
    font-size: 18px;
    margin: 0;
    text-align:none;
   list-style-type: none;
  }
  section h2:hover{
    color: #abe44f;

    margin: 0px;
    padding: 20px;
  }
  section p {
    font-size: 14px;
    margin: 0;
  }
  
  footer {
    
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
     border: none;
     border-radius: 50%;
     background: linear-gradient(#c8e90b, #16e6dc);

  }
  table ,tr ,th ,td  {
    border: 1px solid green;
    border-collapse: collapse;
    padding: 0.5rem;
    display: box;
    background-color: violet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 ul li {
    list-style-type: none;
 }
 section#comments input[type="submit"] {
    background-color: #5C5C5C;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  section#comments input[type="submit"]:hover {
    background-color: #333333;
  }
  
  section#comments textarea {
    height: 150px;
    resize: none;
    transition: height 0.2s ease-in-out;
  }
  
  section#comments textarea:focus {
    height: 100px;
  }
  